<ion-view view-title="Dashboard" class="title title-assertive">
  <ion-content class = "padding">
	  <ion-refresher
	    pulling-text="Pull to refresh..."
	    on-refresh="refresh()">
	  </ion-refresher>
    <ion-list>
    	<ion-item class = "item-divider">
      		You're Buying
  	  	</ion-item>
	    <ion-item ng-repeat="buyPost in buying" href="#/app/singleBuy/{{buyPost.objectId}}">
	    	{{buyPost.courseCode}}
	        - {{buyPost.title}}
	    </ion-item>
	    <ion-item ng-show="noBuyPostings">
	    	<div class=errorMessage >No current buy postings</div>
	    </ion-item>
	    <ion-item class = "item-divider">
	    	You're Selling
	  	</ion-item>
	  	<ion-item ng-repeat="sellPost in selling" href="#/app/singleSell/{{sellPost.objectId}}">
	    	{{sellPost.courseCode}}
		
	        - {{sellPost.title}}
	    </ion-item>
	    <ion-item ng-show="noSellPostings">
	    	<div class=errorMessage >No current sell postings</div>
	    </ion-item>
    </ion-list>
    <div class = "button-bar">
    <a class= "button button-dark icon ion-android-chat" href="#/app/conversations"></a>
    <a class= "button button-dark ion-plus-round icon-left" href="#/app/newBuyPosting">Buy</a>
    <a class= "button button-dark ion-plus-round icon-left" href = "#/app/newSellPosting">Sell</a>
	</div>
  </ion-content>
</ion-view>
