<ion-view view-title="Dashboard">
  	<ion-content class = "padding has-footer">
	<ion-refresher
	    pulling-text="Pull to refresh..."
	    on-refresh="refresh()">
	  </ion-refresher>
    <ion-list>
    	<ion-item class = "item-divider item-energized">
      		You're Buying
  	  	</ion-item>
	    <ion-item ng-repeat="buyPost in entries.buying" ng-class="{'postNotVisible': !buyPost.visibility}" ng-click="setMode('Buyer',$index)" href="#/app/single/{{buyPost.objectId}}">
	    	{{buyPost.courseCode}}
	        - {{buyPost.title}}
	    </ion-item>
	    <ion-item ng-show="entries.buying.length==0">
	    	<div class=errorMessage >No current buy postings</div>
	    </ion-item>
	    <ion-item class = "item-divider item-energized">
	    	You're Selling
	  	</ion-item>
	  	<ion-item ng-repeat="sellPost in entries.selling" ng-class="{'postNotVisible': !sellPost.visibility}" ng-click="setMode('Seller',$index)" href="#/app/single/{{sellPost.objectId}}">
	    	{{sellPost.courseCode}}
	        - {{sellPost.title}}
	    </ion-item>
	    <ion-item ng-show="entries.selling.length==0">
	    	<div class=errorMessage >No current sell postings</div>
	    </ion-item>
    </ion-list>
    
  	</ion-content>
  	<div class = "bar bar-footer bar-energized">
		<div class = "button-bar button-bar">
		    <a class= "button  button-energized icon ion-android-chat bold" href="#/app/conversations"><b></b></a>
		    <a class= "button  button-energized icon-left ion-plus-round" ng-click="setMode('Buyer',0)" href="#/app/newPosting"><b>Buy</b></a>
		    <a class= "button button-energized ion-plus-round icon-left" ng-click="setMode('Seller',0)" href = "#/app/newPosting"><b>Sell</b></a>
		</div>
	</div>
</ion-view>
