<ion-view view-title="Messages">
  <ion-content class = "padding">
	  <ion-refresher
	    pulling-text="Pull to refresh..."
	    on-refresh="refresh()">
	  </ion-refresher>
    <ion-list>
	    <ion-item ng-repeat="message in messages">
	    	{{message.message}}
	    </ion-item>
	    <ion-item ng-show="noMessages">
	    	<div class=errorMessage >No messages</div>
    </ion-list>
    <!-- <div class = "button-bar">
    <a class= "button button-dark ion-plus-round icon-left" href = "#/app/newSellPosting">New Conversation</a>
	</div> -->
  </ion-content>
</ion-view>
