<ion-view view-title="New Buy Posting">
  <ion-content class = "padding">
    <form>
      <ion-list ion-list-inset>
        <label class="item item-input">
          <span class="input-label">Course Code</span>
          <input type="text" ng-model="posting.courseCode">
        </label>
        <label class="item item-input">
          <span class="input-label">Textbook Name</span>
          <input type="text" ng-model="posting.tName">
        </label>
        <label class="item item-input">
          <span class="input-label">Price</span>
          <input type="text" ng-model="posting.price">
        </label>
        <label class="item item-input">
          <span class="input-label">Edition</span>
          <input type="text" ng-model="posting.edition">
        </label>
        <div class="button-bar">
        <a class="button button-dark" ng-click="save()">Save</a>
        <a class="button button-dark" ng-click="post()">Post</a>
      </div>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
