<ion-view view-title="View Single Entry" >
  <ion-nav-buttons side="right">
    <a class="button button-clear" href = "#/app/singleEdit/{{objectId}}">
      Edit
    </a>
  </ion-nav-buttons>
  <ion-content class = "padding" >
    <h4 ng-show = !posting.visibility align = "center" class="title">This post is currently visible to only you.</h4>
    <h4 ng-show = posting.visibility align = "center" class="title">This post is publicly visible.</h4>
    <form name = myForm>
      <ion-list ion-list-inset>
        <label class="item item-input">
          <span class="input-label">Course Code</span>
          <input disabled = true type="text" name = "courseCode" placeholder = "Course Code" ng-model="posting.courseCode" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Textbook Name</span>
          <input disabled = true type="text" name = "title" placeholder = "Textbook Name" ng-model="posting.title" required>
        </label>
        <label class="item item-input">
          <span ng-if ="mode == 'Buyer'"class="input-label">Looking Price</span>
          <span ng-if ="mode == 'Seller'"class="input-label">Asking Price</span>
          <input disabled = true type="text" name = "price" placeholder = "Price" ng-model="posting.price" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Edition</span>
          <input disabled = true type="text" name = "edition" placeholder = "Edition" ng-model="posting.edition">
        </label>
        <label ng-if ="mode == 'Seller'" class="item item-input">
          <span class="input-label">Condition</span>
          <input disabled = true type="text" name = "condition" placeholder = "Condition" ng-model="posting.condition">
        </label>
      </ion-list>
    </form>
    <div ng-if ="mode == 'Seller'">
      <h4 ng-if = "buyers.length!=1">There are {{buyers.length}} buyers:</h4>
      <h4 ng-if = "buyers.length==1">There is 1 buyer:</h4>
      <ion-list>
        <ion-item ng-repeat="buyer in buyers" ng-click = "sendPost($index)" href="#/app/viewPostings/{{buyer.objectId}}">
          {{buyer.price|currency}} - {{buyer.title}}
        </ion-item>
        <ion-item ng-show="buyers.length==0">
          <div class=errorMessage >No current buyers</div>
        </ion-item>
      </ion-list>
    </div>

    <div ng-if ="mode == 'Buyer'">
      <h4 ng-if = "sellers.length!=1">There are {{sellers.length}} sellers:</h4>
      <h4 ng-if = "sellers.length==1">There is 1 seller:</h4>
      <ion-list>
        <ion-item ng-repeat="seller in sellers">
          {{seller.author.firstName}} {{seller.author.lastName}} -
          {{seller.title}} - Asking price: {{seller.price|currency}}
        </ion-item>
        <ion-item ng-show="sellers.length==0">
          <div class=errorMessage >No current sellers</div>
        </ion-item>
      </ion-list>
    </div>

    
  </ion-content>
</ion-view>
