<ion-view view-title = "{{author.firstName}} {{author.lastName}}">
  <ion-content class = "padding">
    <form name = myForm>
      <ion-list ion-list-inset>
        <label class="item item-input">
          <span class="input-label">Course Code</span>
          <input disabled = true type="text" name = "courseCode" placeholder = "Course Code" ng-model="posting.courseCode" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Textbook Name</span>
          <input disabled = true type="text" name = "title" placeholder = "Textbook Name" ng-model="posting.title" required>
        </label>
        <label class="item item-input">
          <span ng-if ="mode == 'Buyer'"class="input-label">Looking Price</span>
          <span ng-if ="mode == 'Seller'"class="input-label">Asking Price</span>
          <input disabled = true type="text" name = "price" placeholder = "Price" ng-model="posting.price" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Edition</span>
          <input disabled = true type="text" name = "edition" placeholder = "Edition" ng-model="posting.edition">
        </label>
        <label ng-if ="mode == 'Seller'" class="item item-input">
          <span class="input-label">Condition</span>
          <input disabled = true type="text" name = "condition" placeholder = "Condition" ng-model="posting.condition">
        </label>
      </ion-list>
    </form>
    
    <h4>{{author.firstName}} is also:</h4>
    <ion-list>
      <ion-list>
      <ion-item class = "item-divider">
          Buying
        </ion-item>
      <ion-item ng-repeat="buyPost in entries.buying">
        <div ng-if="buyPost.objectId != pageId">
        {{buyPost.courseCode}}
          - {{buyPost.title}}
        </div>
      </ion-item>
      <ion-item ng-show="entries.buying.length==0">
        <div class=errorMessage >No other buy postings</div>
      </ion-item>
      <ion-item class = "item-divider">
        Selling
      </ion-item>
      <ion-item ng-repeat="sellPost in entries.selling">
        <div ng-if="sellPost.objectId != pageId">
        {{sellPost.courseCode}}
          - {{sellPost.title}}
        </div>
      </ion-item>
      <ion-item ng-show="entries.selling.length==0">
        <div class=errorMessage>No other sell postings</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>